.container-header{
    @apply tw-bg-white tw-h-screen tw-w-3/12 tw-box-border tw-border-r;
    border-right-color: rgba(128, 128, 128, 0.486);

}
.nav-header{
    @apply tw-bg-white;
}
.items-header{
    @apply tw-bg-white tw-p-2 tw-box-border;
}
.items-header li{
    @apply tw-p-1 tw-my-2 tw-cursor-pointer;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    border: 0px;
}
.items-header .line-hover{
    @apply tw-w-1/12 tw-h-1 tw-bg-red tw-transition-width tw-duration-500;
}
.items-header li:hover .line-hover{
    @apply tw-w-full;
}
.items-header .line-hover a:focus{
    @apply tw-w-full;
}

.title-header{
    @apply tw-mb-14;
    font-size: 3.2em;
    font-weight: bolder;
}
.border-gray-300{
    border-right-color: rgba(128, 128, 128, 0.486);
}